<div class="students">
    <h3>Add new Student</h3>
    <form id="newStudent">
        <div>
            <label for="name">First name:</label>
            <input type="text" id="idFirstName" name="firstname" value="" required>
        </div>

        <div>
            <label for="surnames">Surnames:</label>
            <input type="text" id="idSurnames" name="surnames" value="" required>

        </div>
        <div>
            <input type="file" id="avatarupload" accept=".png,.jpg" />

        </div>

        <input type="submit" value="Save">
    </form>
</div>