<form id="contact">
    <fieldset>
        <legend>Contact</legend>
        <label for="name">
                Name:<br> <input type="text" id="name" name="user_name">
        </label><br>
        <label for="email">
                Email:<br>  <input type="email" id="email" name="email">
        </label><br>
        <label for="message">
                Message:<br> <textarea id="message" name="message"></textarea>
        </label><br><br>
        <input class="myButton" type="submit" value="Submit" id="submit">
    </fieldset>
</form>
     
     